<h1>Signup</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Register' %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>
